@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #67e8f9;
  --secondary-color: #22d3ee;
  --primary-light: #a5f3fc;
  --primary-lighter: #ecfeff;
  --dark-gray: #94a3b8;
  --light-gray: #f1f5f9;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Oxygen", sans-serif;
}

/* NAV BAR */
nav {
  background-image: linear-gradient(
    to right,
    var(--primary-light),
    var(--primary-color),
    var(--secondary-color)
  );

  padding: 0.3rem;
}

.nav__items {
  display: flex;
  justify-content: flex-end;
}

.item {
  list-style: none;
}

.link {
  text-decoration: none;
  margin: 1rem;
  color: var(--light-gray);
  font-weight: 400;
  font-size: 1.1rem;
  text-shadow: 1px 1px var(--dark-gray);
}

.nav__items .active {
  font-weight: bolder;
  color: rgb(78, 77, 77);
}

/* HEADINGS */
h2 {
  font-size: 4rem;
  color: var(--secondary-color);
  padding-left: 2rem;
  line-height: 7rem;
  text-align: center;
  margin-right: 3rem;
  letter-spacing: 5px;
}

h3 {
  font-size: 1.5rem;
  background-color: var(--primary-light);
  color: var(--secondary-color);
  text-align: center;
  font-weight: 400;
  margin: 0;
  padding: 1rem;
  border-bottom: 1px solid var(--secondary-color);
}

h4 {
  font-size: 1.5rem;
  color: var(--secondary-color);
  padding-left: 2rem;
  text-align: center;
  padding: 1.5rem;
}

/* HEADER */

header {
  display: flex;
  margin: 5rem 1rem;
}

h2 span {
  color: var(--light-gray);
  background-image: linear-gradient(
    to right,
    var(--secondary-color),
    var(--primary-color),
    var(--primary-light)
  );
  padding: 0.5rem;
  letter-spacing: 12px;
  animation-name: animatedspan;
  transition: all 0.2s;
  animation: slidein 3s infinite;
}

img {
  float: right;
  max-width: 45rem;
}

@keyframes animatedspan {
  0% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(-50px);
  }
}

/* SECTION */
.off-white {
  display: flex;
  justify-content: space-evenly;

  margin: 5rem;
}

.card {
  max-width: 25%;
  height: 30rem;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  background-color: var(--primary-lighter);
  text-align: center;
  box-shadow: 5px 5px rgba(105, 209, 250, 0.4);
}

.text {
  color: var(--secondary-color);
  text-align: justify;
  line-height: 2rem;
  padding: 2rem;
  font-size: 1.2rem;
  margin-bottom: 3rem;
}

.b_link {
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.1rem;
  text-align: center;
  padding: 0.3rem;
  background-color: transparent;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  box-shadow: 2px 2px rgba(105, 209, 250, 0.5);
}

/* FOOTER */
h4 span {
  color: var(--light-gray);
  background-image: linear-gradient(
    to right,
    var(--secondary-color),
    var(--primary-color)
  );
  padding: 0.1rem;
  letter-spacing: 3px;
  margin-right: 5px;
}

footer {
  background-color: rgb(78, 77, 77);
}

.footer__items {
  display: flex;
  padding-bottom: 2rem;
  justify-content: space-evenly;
}

.footer__items .link {
  text-decoration: underline;
}
